<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <nav>
        <div>
            <a href="index.html" class="nav-lt">
                <img src="../static/imgs/bird_2 2.png" height="60" alt="Site Logo - PyForume.com" placeholder="password">
                <h1><span>Py</span>Forum.com</h1>
            </a>
        </div>
        <div>
            <input class="search-bar" type="text" placeholder="Search...">
        </div>
        <div class="nav-SL">
            <a href="#">Sing Up</a>
            <a href="#">Login</a>
        </div>
    </nav>
    <div class="content">
        <div class="nav-cl"></div>
        <div class="pots-ct"></div>
    </div>
</body>
</html>